*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
}

.moon {
    height: 100vh;
    background: #222;
    position: relative;
    background: url(../img/space-bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.moon img {
    object-fit: cover;
    object-position: center;
    position: absolute;
}

h1 {
    font-family: Martel Sans;
    font-weight: 200;
    font-size: 150px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    z-index: 1;
    color: #ffffff;
}

h1 span {
    font-size: 40px;
    font-family: Montserrat;
}

@media screen and (max-width: 950px) {
    h1 {
        line-height: 1;
        text-align: center;
    }
}

.moon img:nth-child(1) {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
}


/* Content block 1 */

.content-block-1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.falcon-info {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.falcon-info h2 {
    font-family: Martel Sans;
    font-size: 50px;
    text-align: center;
    line-height: 1;
    margin-bottom: 1em;
}

.falcon-info span {
    font-family: Montserrat;
    display: block;
}